@font-face {
  font-family: Light;
  src: url(SF-Pro-Text-Light.otf);
}

:root{
  --color_1: #666666;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 888;

}

.loader .loader_ {
  width: 100%;
  height: 100%;
  background: #000000;
  position: relative;


}

.text_box {
    padding-top: 30vh;
    padding-left: 3vw;

}


.main_text{
  overflow: hidden;
}
.text_box .main_text h1 {
  font-size: 20vw;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Light;
  color:var(--color_1);

}

.number_text {
  display: flex;
  align-items: center;
        gap: 4vw;

}
.number_text h1{
    color:var(--color_1);
    font-size: 15vw;
      font-family: Light;


}


.number_text .loading_bar{
  width: 54vw;
  height: 1vw;
  background: var(--color_1);
  border-radius: 5px;
  overflow: hidden;
}
.number_text .loading_bar .loading_bar_{
  width: 50%;
  height: 100%;
  background: #D2D2D2;
    border-radius: 5px;

}

.page_1{
  width: 100vw;
  height: 100vh;
  background: #676767;
}

/*
with animation 
*/

.loading_bar {
  position: absolute;
  
}



.loader_x{
 width: 100vw;
 height: 100vh;
 background: #FFB9B9;
 position: fixed;
 z-index: 33;
 display: flex;
 align-items: center;
 justify-content: center;
  transform-origin: right bottom;


}
.loader_x h3{
    font-family: Light;
    text-transform: uppercase;
    

}